# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large data files
data/
*.csv
*.tsv
*.h5

# Transformer checkpoints & tokenizers
opus_books_weights/
weights/
*_weights/
tokenizer_*.json
runs/
*_runs/
*_runs-*_*/
*_runs-*/
*.pt
!venv/**/*.pt

